.parameter-header {
    background-color: #ebf2f6; 
}

.parameter-row {
    color: black;
}

.header {
    background-color: #fdfdfd;
    border-bottom: solid #ccc;
    border-bottom-width: 1px;
    padding: 0.5em;
}

.request {
    background-color: #393939;
    padding: 1em;
    border-radius: 5px;
    color: whitesmoke;
    opacity: 0.9;
}

.description {
    padding-bottom: 4em;
    padding-left: 1em;
}

.logo {
    margin: 0 auto;
    display: block;
}

.title {
    text-align: center;
    color: oldlace;
}

.topics {
    background-color: #393939;
    min-height: 100vh;
}

.subtopics {
    background-color: #ebf2f6;
    min-height: 100vh;
}

.examples {
    background-color: #393939;
    min-height: 100vh;
}

.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.HolyGrail-body {
    display: flex;
    flex: 1;
}

.HolyGrail-content {
    flex: 1;
}

.HolyGrail-ads {
    flex: 0 0 45em;
}

.HolyGrail-nav {
    flex: 0 0 20em;
}

.HolyGrail,
.HolyGrail-body {
    display: flex;
    flex-direction: column;
}

.HolyGrail-nav {
    order: -1;
}

@media (min-width: 768px) {
    .HolyGrail-body {
        flex-direction: row;
        flex: 1;
    }
    .HolyGrail-content {
        flex: 1;
    }
    .HolyGrail-nav {
        flex: 0 0 45em;
    }
    .HolyGrail-nav {
        /* 12em is the width of the columns */
        flex: 0 0 20em;
    }
}